
<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a
                class="list-group-item list-group-item-action"
                [class.active]="!category"
                routerLink="/"
            >
                All Categories
            </a>
            <a *ngFor="let c of categories$ | async"
            routerLink="/"
            [queryParams]="{ category: c.key }"
            class="list-group-item list-group-item-action"
            [class.active]="category === c.key"
            >
                {{ c.name }}
            </a>
        </div>
    </div>
    
    <div class="col">
 
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col"
              *ngFor="let p of filteredProducts">
      
              <div class="card h-100 w-0">
                  <img [src]="p.imageUrl" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{ p.title }}</h5>
                      <p class="card-text">{{ p.price | currency: 'USD': 'symbol'}}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
              </div>
          </div>
    </div>
</div>


